/bot.spec
/cellsToDelete.txt
/config.ini
/img.jpg
/input.txt
/inputlots.txt
/insort.csv
/orders.xlsx
/outlook.xlsx
/POSTAVKI.xlsx
/sk.json
/testing
/testme.json
/users
/__pycache__
/Сканлоги.xlsx
/*.xlsx
/*.txt
/*.json
/rashodilis
/.vscode